/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400;500;700&family=Fondamento&family=Hind:wght@300;400;500&family=Lobster&family=Merienda+One&family=Modak&family=Play:wght@400;700&family=Ranchers&family=Shadows+Into+Light&display=swap');