#icons {
    font-size: 130px;
    text-align: center;
    color: rgb(252, 158, 40);
}

.phone_details {
    align-items: center;
    text-align: center;
    height: fit-content;
    background-color: white;
    width: 100%;
    margin-top: 100px;
}

#leftfloat {
    float: left;
    padding-left: 33%;
}

#leftright {
    float: right;
    padding-right: 33%;
}

.devicename {
    color: snow;
    font-size: 100px;
    text-align: center;
    margin-bottom: 2px;
}
.op {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 158, 40);
    font-size: 30px;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
}

h1 {
    font-family: WLM The Quick Brown Fox;
    letter-spacing: 1px;
    font-size: 90px;
    color: snow;
}

h1:after {
    content: "";
    background-color: white;
    width: 120px;
    height: 3px;
    display: block;
    margin: 4px auto;
}

#bicon {
    font-size: 90px;
    /*padding: 20px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 50%;*/
}

.row {
    background-color: rgba($color: #000000, $alpha: 0.1);
    width: 100%;
}

p {
    font-size: 28px;
}
p:after {
    content: "";
    width: 120px;
    display: block;
    height: 3px;
    background-color: black;
    margin: 2px auto;
    transition: all 0.2s ease-in-out 0s;
}

p:hover:after {
    background-color: rgb(252, 158, 40);
    width: 150px;
    display: block;
}

.col-md-3 {
    size: 50%;
    padding: 10px;
    width: 100%;
    height: 20%;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    display: block;
    align-items: center;
}

.col-md-3:hover {
    box-shadow: 0px 0px 20px 7px rgba($color: #000000, $alpha: 0.3);
}

.navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;

    img.navbar {
        height: 80px;
    }

    ul {
        width: 80%;
        list-style-type: none;
        margin: 0;
        padding: 15;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4caf50;
        float: right;
    }
}
