<body>
  <div class="navbar">
    <div class="navimg">
      <img src="/assets/images/navcosbia.png" alt="cosbia" />
    </div>
    <ul>
      <li><a href="https://cyware.com/cyber-security-news-articles">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a class="active" href="#about">About</a></li>
    </ul>
  </div>

  <div class="phone_details">
    <div id="leftfloat">
      <h3>Device</h3>

      <span class="material-icons" id="icons" *ngIf="mobile == true">smartphone</span>
      <span class="material-icons" id="icons" *ngIf="tablet == true">tablet_mac</span>
      <span class="material-icons" id="icons" *ngIf="desktop == true">laptop</span><br />
    </div>
    <div id="rightfloat">
      <h3> Operating system</h3>

      <!-- unkown result <span class="devicename">{{deviceinfo.device}}</span><br> -->
      <span class="op">{{ deviceinfo.os }}</span>
    </div>
  </div>

  <div class="row" id="row">
    <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Instagram' }]">   
          <div class="icon">
            <i class="fa fa-instagram" id="bicon" aria-hidden="true"></i>
          </div>
        <p>Instagram</p>
     </div>

    <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Whatsapp' }]">
      
      <div class="icon">
        <i class="fa fa-whatsapp" id="bicon" aria-hidden="true"></i>
      </div>
      <p>WhatsApp</p>
    </div>

    <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Facebook' }]">
      
      <div class="icon">
        <i class="fa fa-facebook" id="bicon" aria-hidden="true"></i>
      </div>
      <p>Facebook</p>
    </div>

    <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Twitter' }]">
      
      <div class="icon">
        <i class="fa fa-twitter" id="bicon" aria-hidden="true"></i>
      </div>
      <p>Twitter</p>
    </div>

     <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Twitter' }]">
      
      <div class="icon">
        <i class="fa fa-chrome" id="bicon" aria-hidden="true"></i>
      </div>
      <p>Browser</p>
    </div>

    <div class="col-md-3 text-center" [routerLink]="['/child/quiz', { platform: 'Snapchat' }]">
      
      <div class="icon">
        <i class="fa fa-snapchat-square" id="bicon" aria-hidden="true"></i>
      </div>
      <p>Snapchat </p>
    </div>
  </div>
</body>