<div class="result">
    <div class="top">
        <i class="fa fa-arrow-left" id="back-arrow" aria-hidden="true"  (click)="home()"></i>
    </div>
    <div class="score">
        <h1>Score:{{child.correctanswer}}/{{child.questions.length}}</h1><br>
        <h1>{{percentage}}%</h1>
        <i class="fa fa-frown-o" id="emotion" aria-hidden="true" *ngIf="percentage<50"></i>
        <i class="fa fa-smile-o" id="emotion" aria-hidden="true" *ngIf="percentage>=50"></i>
        <p class="para" *ngIf="percentage<25">Try hard its seems you dont know anything about online treats</p>
        <p class="para" *ngIf="percentage>=25 && percentage<50">Try again you know a little about online treats you need some feel effort</p>
        <p class="para" *ngIf="percentage>=50 && percentage<75 ">Try again you are almost atleast you have an idea of online treats</p>
        <p class="para" *ngIf="percentage>=75 && percentage<100 ">Try doing better you are almost there</p>
        <p class="para" *ngIf="percentage==100">Well done!! It seems you know much about online treats keep on protected all the time</p>
    </div>
    <div class="navimg">
        <img src="/assets/images/navcosbia.png" alt="cosbia">
    </div>

</div>