.result{
    background: black;
    min-height: 100%;
    max-height: inherit;
}
.top{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 155, 55);
    color: snow;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 3px 5px 7px rgba($color: #000000, $alpha: 0.2);

    #back-arrow {
        font-size: 30px;
        color: white;
        margin-right: 16px;
        transition: ease-in 0.1s;
    }
}
.score{
    text-align: center;
    justify-content: center;
    transform: translate(-50%,60%);
    left: 50%;
    position: absolute;
}

h1{
    color: snow;
    font-size: 60px;
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 1px;
}

@media screen and (min-width:500px){
    h1{
        font-size: 90px;
    }
}
/*h1{
    content: '';
    background-color: whitesmoke;
    width: 100px;
    display: block;
    margin: 2px;
    transition: all 0.3s ease-in-out 0s;
    height: 2px;
}

h1:hover:after{
    width: 130px;
    background-color: palevioletred;
}*/

#emotion{
    font-size: 90px;
    color: pink;
}

#back-arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.navimg img {
    height: 10%;
    float: right;
    position: absolute;
    padding: 5px;
    bottom: 3px;
}

.para{
    font-size: 26px;
}