button{
    width: 300px;
    height: 50px;
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
    color: red;
}

button:hover{
    background-color: palevioletred;
    box-shadow: 0px 1px 2px 1px rgba($color: #000000, $alpha: 0.3);
}