<h1>Setting up</h1>

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Enter Level</span>

            <form #level="ngForm" (ngSubmit)="submit(level)">
                <input type="text" ngModel #name="ngModel" name="name" required placeholder="level name">
                <textarea rows="7" type="text" ngModel #des="ngModel" name="des" required placeholder="Descrpition"></textarea>
                <button type="submit" [disabled]="!level.valid">Save</button>
            </form>


        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Enter Question</span>

            <form #quiz="ngForm" (ngSubmit)="submitquiz(quiz)">
                <input type="text" ngModel #name="ngModel" name="name" required placeholder="quiz name">
                <textarea rows="6" cols="20" type="text" ngModel #que="ngModel" name="que" required placeholder="question"></textarea>
                <input type="text" ngModel #op1="ngModel" name="op1" placeholder="option1">
                <input type="text" ngModel #op2="ngModel" name="op2" placeholder="option2">
                <input type="text" ngModel #op3="ngModel" name="op3" placeholder="option3">
                <input type="text" ngModel #op4="ngModel" name="op4" placeholder="option4">
                <input type="text" ngModel #ans="ngModel" name="ans" required placeholder="Correct Answer">
                <textarea rows="6" cols="20" type="text" ngModel #des="ngModel" name="des" required placeholder="Description"></textarea>
                <button type="submit" [disabled]="!quiz.valid">Save</button>
            </form>


        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>