

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    padding: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
}

.register{
    min-height: 100%;
    background-color: black;
    width: 100%;
    position: relative;
    
}
    .form{
        //border: 1px solid white;
        top: 0px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,50%);

        input{
            padding-left: 10px;
            width: 300px;
            height: 40px;
            margin-bottom: 4px;
            font-size: 16px;
            border: 2px solid white;
            box-sizing: border-box;
            color: white;

        }

        .submit{
            button{
                font-size: 16px; font-family: monospace;
                background-color: rgb(252,158,56);
                color: black;
                margin-top: 10px;
                width: 300px;
                height: 40px;
                transition: all 0.3s ease-in-out;
            }

            button:hover{
                //box-shadow: 0px 2px 2px 1px rgba($color:white, $alpha: 0.3);
                background-color: black;
                color: white;
                transition: all 0.08s ease-in-out;
            
            }

        }
        
        input:hover{
            border-color: rgb(252,158,56);
        }
    }
