<div class="register">
    <form #register="ngForm" (ngSubmit)="submit(register)" class="form">
        <div class="cosimg">
            <img src="/assets/images/cosbia.png" alt="Avatar" class="avatar">
        </div>
        <div class="username">
            <input type="text" placeholder="Enter Username" name="username" ngModel #username="ngModel" required>
        </div>
        <div class="email">
            <input type="text" placeholder="Enter Email" name="email" ngModel #email="ngModel" required [pattern]="emailpattern">
        </div>
        <div class="pass">
            <input type="password" name="password" placeholder="Password" ngModel #password="ngModel" required>
        </div>
        <div class="submit">
            <button type="submit" [disabled]="!register.valid">Save</button>
        </div>
    </form>
</div>