<div class="quiz">


    <div class="header">
        <i class="fa fa-arrow-left" id="back-arrow" aria-hidden="true" (click)="home()"></i>
        <h1 class="countdown">Time Elasped:
              <countdown class="countdown" [config]="{leftTime: 60}" (event)="eventHandler($event)"></countdown>
        </h1>

    </div>

    <div class="question">

        <div class="ques">
            <label id="example-radio-group-label">
                {{count+1}}.{{child.questions[count].question}}
            </label>
        </div>

        <div class="answers">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="selectedvalue">

                <mat-radio-button class="example-radio-button" [value]="child.questions[count].option1"
                    *ngIf="child.questions[count].option1 !=null">
                    <span>{{child.questions[count].option1}}</span>
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" [value]="child.questions[count].option2"
                    *ngIf="child.questions[count].option2 !=null">
                    <span>{{child.questions[count].option2}}</span>
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" [value]="child.questions[count].option3"
                    *ngIf="child.questions[count].option3 !=''">
                    <span>{{child.questions[count].option3}}</span>
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" [value]="child.questions[count].option4"
                    *ngIf="child.questions[count].option4 !=''">
                    <span>{{child.questions[count].option4}}</span>
                </mat-radio-button>

            </mat-radio-group>
            <div class="choice">You have choose: {{selectedvalue}}</div>
            <div class="button">
                <button (click)="submit()">{{buttonvalue}}</button>
                <a class="next" (click)="exit()">Exit</a>
            </div>
        </div>

    </div>

    <div class="navimg">
        
        <img src="/assets/images/navcosbia.png" alt="cosbia">
    </div>


</div>