.countdown {
    font-size: 20px;

    text-align: center;
    color: snow;

    h1 {
        font-family: "Galada", cursive;
    }
}

.header {
    //margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 155, 55);
    color: snow;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 3px 5px 7px rgba($color: #000000, $alpha: 0.2);

    #back-arrow {
        font-size: 30px;
        color: white;
        margin-right: 16px;
        transition: ease-in 0.1s;
    }
}

.navimg img {
    height: 10%;
    float: right;
    position: absolute;
    padding: 5px;
    bottom: 3px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
    font-size: 25px;
}

#example-radio-group-label {
    font-size: 25px;
    color: white;
    font-family: "Architects Daughter", cursive;
}

.ques {
    width: 300px;
    height: fit-content;
    padding: 10px 10px 10px 20px;
    background-color: rgb(246, 155, 55);
}

.answers {
    width: 300px;
    height: fit-content;
    padding: 10px 10px 10px 20px;
    background-color: grey;
}
span {
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: snow;
}

.choice {
    font-size: 20px;
    color: snow;
}

.question {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 30%);
}
.quiz {
    background: black;
    min-height: 100%;
    max-height: inherit;
}

.button button {
    outline: none;
    overflow: hidden;
    width: 120px;
    height: 50px;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 100;
    color: snow;
    border-radius: 2px;
    margin-right: 20px;
    border: 0px;
    background-color: rgb(37, 35, 35);
}

@media screen and (min-width: 600px) {
    .ques {
        width: 600px;
    }
    .answers {
        width: 600px;
    }

    #back-arrow {
        font-size: 30px;
        color: snow;
        margin-right: 200px;
    }
    .countdown {
        font-size: 30px;
    }
}

#back-arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.navimg img:hover{
    cursor: pointer;
} 

.next{
    outline: none;
    overflow: hidden;
    width: 120px;
    height: 50px;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 100;
    color: snow;
    border-radius: 2px;
    margin-right: 20px;
    border: 0px;
    background-color: rgb(37, 35, 35);
}
